
include README.md
include LICENSE

# Include PyArmor runtime files
recursive-include chill_pip/pytransform *
recursive-include chill_pip/pytransform/platforms *
global-include *.dylib *.so *.dll *.lic
