
include README.md
include LICENSE

# Include PyArmor runtime files
recursive-include chill_pip/pytransform *
global-include *.dylib *.so *.dll *.lic

# Ensure platform-specific files are included
recursive-include chill_pip/pytransform/platforms *
